@using LARPWorks.Cyaniel.Models.Characters
@using LARPWorks.Cyaniel.Features.Characters.Views
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<LARPWorks.Cyaniel.Features.Characters.CharacterSheetViewModel>
@{
    Layout = "_Layout.cshtml";
}
@{ int i = 0; }
@section Head {
    <link href="\Content\css\advancedview.css" rel="stylesheet">
    @RenderSection("Head", false)
}
<div class="content-section">

    @*<!-- Add Option Dialog -->
    <div id="addoptionalmodal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add New</h4>
                </div>
                <form class="form-horizontal" method="POST">
                    <fieldset>
                        <div class="modal-body">
                            <div class="form-group">
                                <label class="col-md-2 control-label" for="NewGameStatisticModel"></label>
                                <div class="col-md-8">
                                    <input id="NewGameStatisticModel" name="NewGameStatisticModel" type="text" value="@Model.NewGameStatisticModel.Name"
                                           class="form-control input-md" placeholder="Type in the new name here...">
                                    <div>Name</div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="form-group">
                                <button data-dismiss="modal" class="btn btn-danger" type="button">Cancel</button>
                                <button class="btn btn-primary">Create</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>*@

    <form class="form-horizontal" method="POST">
        <fieldset>
            <div class="center">
                <!-- Form Name -->
                <h2>Player Sheet</h2>
                <hr/>
                <div class="row">
                    <label class="col-md-2 control-label" for="CharacterName">Character Name</label>
                    <div class="col-md-8">
                        <input id="CharacterName" name="CharacterName" type="text" value="@Model.Character.Name"
                               class="form-control input-md" required="">
                    </div>
                </div>
                <p></p>
                <div class="row">
                    <label class="col-md-1 control-label">Player</label>
                    <div class="col-md-2">
                        <h4><span class="label label-primary">Julie Iaccarino</span></h4>
                    </div>
                    <label class="col-md-2 control-label">Experience Gained on Character</label>
                    <div class="col-md-2">
                        <label class="form-control input-md"><b>35</b></label>
                    </div>
                    <label class="col-md-2 control-label">Available Experience</label>
                    <div class="col-md-2">
                        <label class="form-control input-md"><b>0</b></label>
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div class="panel with-nav-tabs panel-info">
                        <div class="panel-heading">
                            <ul class="nav nav-tabs">
                                @{ i = 0; }
                                @foreach (string sectionName in Model.Sections)
                                {
                                    if (ViewBag.SelectedSection == sectionName
                                        || (string.IsNullOrEmpty(ViewBag.SelectedSection) && i == 0))
                                    {
                                        <li class="active"><a href="@string.Format(" #tab{0}", i)" data-toggle="tab">@sectionName</a></li>
                                    }
                                    else
                                    {
                                        <li><a href="@string.Format(" #tab{0}", i)" data-toggle="tab">@sectionName</a></li>
                                    }
                                    i++;
                                }
                            </ul>
                        </div>
                        <div class="panel-body">
                            <div class="tab-content">
                                @{ i = 0; }
                                @foreach (string sectionName in Model.Sections)
                                {
                                    if (ViewBag.SelectedSection == sectionName
                                        || (string.IsNullOrEmpty(ViewBag.SelectedSection) && i == 0))
                                    {
                                        <div class="tab-pane fade in active" id="@string.Format(" tab{0}", i)">
                                            Controls will go here for section @sectionName
                                            <div class="baseflexdiv">
                                                <h2>Background Nonsense</h2>
                                            </div>
                                            <div class="growflexdiv"><h2>Attributes</h2></div>
                                            <div class="growflexdiv"><h2>Reveler's Traits</h2></div>
                                            <div class="growflexdiv"><h2>Traits</h2></div>
                                            <div class="growflexdiv"><h2>Depravity</h2></div>
                                            <div class="growflexdiv"><h2>Insanities</h2></div>
                                            <div class="growflexdiv"><h2>Skills</h2></div>
                                            <div class="growflexdiv"><h3>Combat Skills</h3>
                                                @Model.Character.Skills.List(@<li>@item.Name</li>)
                                            </div>
                                            <div class="growflexdiv"><h3>Physical Skills</h3></div>
                                            <div class="growflexdiv"><h3>Professional Skills</h3></div>
                                            <div class="growflexdiv"><h3>Life Skills</h3></div>
                                            <div class="growflexdiv"><h3>Craft Skills</h3></div>
                                            <div class="growflexdiv"><h3>Gathering Skills</h3></div>
                                            <div class="growflexdiv"><h2>Perks</h2>
                                                @*@Model.Perks.List(@<li>@item.Name</li>)*@
                                                @*<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addOptionModal" data-newgsmtype="perks">Add</button>*@
                                            </div>
                                            <div class="growflexdiv"><h2>Flaws</h2></div>
                                            <div class="growflexdiv"><h2>Maneuvers</h2></div>
                                            <div class="growflexdiv"><h2>Miscellaneous</h2></div>
                                            <div class="growflexdiv"><h2>Priest/Rituals</h2></div>
                                            <div class="growflexdiv"><h2>Mage Techniques</h2></div>
                                            <div class="growflexdiv"><h2>Knight Rank / Oaths</h2>
                                                @*@Model.KnightOrders.List(@<li>@item.Name</li>)*@
                                            </div>
                                            <div class="growflexdiv"><h2>Paladin Powers</h2>
                                            </div>
                                            <div id="leadershipgrowflexdiv" class="growflexdiv">
                                                <h2>Leadership Trees I'm In</h2>
                                                @*@foreach (GameStatisticModel gsm in Model.Leaders)
                                                {
                                                    <p>@gsm.Name</p>
                                                }*@
                                                @Model.Character.Leaders.List(@<li>@item.Name</li>)
                                                @*<button type="button" onclick="setObjectType()" data-toggle="modal" data-target="#addoptionalmodal">Open Modal</button>
                                                <button class="btn btn-primary" formmethod="POST" formaction="/addgsm/leader/@Model.Character.Id">Add</button>*@
                                                @*/add/Leader/@Model.Character.Id*@
                                                @*formmethod="GET" formaction="/add/Leader"*@
                                                @*http://localhost:5000/add/Leader?CharacterName=Blank+Character*@
                                                @*http://localhost:5000/add/Leader?CharacterName=Blank+Character*@
                                                @*<button type="button" id="wtf" class="btn btn-primary" data-toggle="modal" data-target="#addOptionModal" data-newgsmtype="leader">Add</button>*@
                                                @*<a href="#addOptionModal" data-toggle="modal" data-book-id="my_id_value">Open Modal</a>*@
                                                @*<button type="button" class="btn btn-default" data-toggle="modal" data-target="#addOptionModal_@item.ContentId" data-id="@item.ContentiId">Add</button>*@
                                                @*<button type="button" class="btn btn-default" data-toggle="modal" data-gsmtype="Leader">Add</button>*@

                                                @*Working button version
                                                <button type="button" data-toggle="modal" data-target="#addoptionmodal">Add</button>*@

                                                <button type="button" onclick="setObjectType('Leader', 'Leader')" data-toggle="modal" data-target="#addoptionmodal">Add</button>
                                            </div>
                                            <div class="growflexdiv"><h2>Leadership People In My Tree</h2>
                                            </div>
                                        </div>
                                        i++;
                                        continue;
                                    }
                                    i++;
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="center">
                <!-- Button (Double) -->
                <div class="form-group">
                    <div class="col-md-2">
                        <button id="button3id" name="button3id" class="btn btn-danger">!!! DELETE CHARACTER !!!</button>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
</div>

<script>
    function setObjectType(addName, objectType) {
        alert("set object type called");
        document.getElementById("modaltitle").innerHTML = 'Add New ' + addName;
        document.getElementById("modalnamediv").innerHTML = 'New ' + addName + ' Name';
        document.getElementById("currentObjectType").innerHTML = objectType;
    }
</script>

<!-- Add Option Dialog -->
<div id="addoptionmodal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="modaltitle">Add New</h4>
            </div>
            <form class="form-horizontal" method="POST">
                <fieldset>
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="NewFactName"></label>
                            <div class="col-md-8">
                                <div id="modalnamediv">Name</div>
                                <input id="NewFactName" name="NewFactName" type="text" value="@Model.NewFactName"
                                       class="form-control input-md" placeholder="Type in the new name here...">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="form-group">
                            <div hidden="hidden" id="currentObjectType">None</div>
                            <button data-dismiss="modal" class="btn btn-danger" type="button">Cancel</button>
                            <button onclick="addNewObjectType()" data-toggle="modal" data-target="#addoptionmodal" class="btn btn-primary">Create</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>

<script>
    function addNewObjectType() {
        newObjectType = document.getElementById("currentObjectType").innerHTML;
        alert("add new object type called with type " + newObjectType);
        //document.getElementById("leadershipgrowflexdiv").innerHTML += document.getElementById("NewGameStatisticModel").innerHTML;
    }
</script>