@using LARPWorks.Cyaniel.Models.Characters
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<LARPWorks.Cyaniel.Features.Characters.CharacterSheetViewModel>
@{
    Layout = "_Layout.cshtml";
}
@{ int i = 0; }
@section Head {
    @*<style>
        /**********************************************************/
        /*                      Advanced Charsheet                */

        .baseflexdiv {
            border: 1px solid green;
            height: 50px;
            display: inline-flex;
        }

        .growflexdiv {
            border: 1px solid blue;
            height: 50px;
            display: inline-flex;
            flex-grow: 100;
        }
    </style>*@
    <link href="\Content\css\advancedview.css" rel="stylesheet">
    @RenderSection("Head", false)
}
<div class="content-section">
    <!-- Add Option Dialog -->
    <div id="addOptionModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modal Header</h4>
                </div>
                <form class="form-horizontal" method="POST">
                    <fieldset>
                        <div class="modal-body">
                            <div class="form-group">
                                <label class="col-md-2 control-label" for="NewGameStatisticModel"></label>
                                <div class="col-md-8">
                                    <input id="NewGameStatisticModel" name="NewGameStatisticModel" type="text" value="@Model.NewGameStatisticModel"
                                           class="form-control input-md">
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="form-group">
                                <button data-dismiss="modal" class="btn btn-danger" type="button">Cancel</button>
                                <button class="btn btn-primary">Create</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    
    <form class="form-horizontal" method="POST">
        <fieldset>
            <div class="center">
                <!-- Form Name -->
                <h2>Player Sheet</h2>
                <hr/>
                <div class="row">
                    <label class="col-md-2 control-label" for="CharacterName">Character Name</label>
                    <div class="col-md-8">
                        <input id="CharacterName" name="CharacterName" type="text" value=""
                               class="form-control input-md" required="">
                    </div>
                </div>
                <p></p>
                <div class="row">
                    <label class="col-md-1 control-label">Player</label>
                    <div class="col-md-2">
                        <h4><span class="label label-primary">Julie Iaccarino</span></h4>
                    </div>
                    <label class="col-md-2 control-label">Experience Gained on Character</label>
                    <div class="col-md-2">
                        <label class="form-control input-md"><b>35</b></label>
                    </div>
                    <label class="col-md-2 control-label">Available Experience</label>
                    <div class="col-md-2">
                        <label class="form-control input-md"><b>0</b></label>
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div class="panel with-nav-tabs panel-info">
                        <div class="panel-heading">
                            <ul class="nav nav-tabs">
                                @{ i = 0; }
                                @foreach (string sectionName in Model.Sections)
                                {
                                    if (ViewBag.SelectedSection == sectionName
                                        || (string.IsNullOrEmpty(ViewBag.SelectedSection) && i == 0))
                                    {
                                        <li class="active"><a href="@string.Format(" #tab{0}", i)" data-toggle="tab">@sectionName</a></li>
                                    }
                                    else
                                    {
                                        <li><a href="@string.Format(" #tab{0}", i)" data-toggle="tab">@sectionName</a></li>
                                    }
                                    i++;
                                }
                            </ul>
                        </div>
                        <div class="panel-body">
                            <div class="tab-content">
                                @{ i = 0; }
                                @foreach (string sectionName in Model.Sections)
                                {
                                    if (ViewBag.SelectedSection == sectionName
                                        || (string.IsNullOrEmpty(ViewBag.SelectedSection) && i == 0))
                                    {
                                        <div class="tab-pane fade in active" id="@string.Format(" tab{0}", i)">
                                            Controls will go here for section @sectionName
                                            <div class="baseflexdiv">
                                                <h2>Background Nonsense</h2>
                                            </div>
                                            <div class="growflexdiv"><h2>Attributes</h2></div>
                                            <div class="growflexdiv"><h2>Reveler's Traits</h2></div>
                                            <div class="growflexdiv"><h2>Traits</h2></div>
                                            <div class="growflexdiv"><h2>Depravity</h2></div>
                                            <div class="growflexdiv"><h2>Insanities</h2></div>
                                            <div class="growflexdiv"><h2>Skills</h2></div>
                                            <div class="growflexdiv"><h3>Combat Skills</h3></div>
                                            <div class="growflexdiv"><h3>Physical Skills</h3></div>
                                            <div class="growflexdiv"><h3>Professional Skills</h3></div>
                                            <div class="growflexdiv"><h3>Life Skills</h3></div>
                                            <div class="growflexdiv"><h3>Craft Skills</h3></div>
                                            <div class="growflexdiv"><h3>Gathering Skills</h3></div>
                                            <div class="growflexdiv">
                                                <h2>Perks</h2>
                                                @foreach (GameStatisticModel gsm in Model.Perks)
                                                {
                                                    <p>@gsm.Name</p>
                                                }
                                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addOptionModal">Add</button>
                                            </div>
                                            <div class="growflexdiv"><h2>Flaws</h2></div>
                                            <div class="growflexdiv"><h2>Maneuvers</h2></div>
                                            <div class="growflexdiv"><h2>Miscellaneous</h2></div>
                                            <div class="growflexdiv"><h2>Priest/Rituals</h2></div>
                                            <div class="growflexdiv"><h2>Mage Techniques</h2></div>
                                            <div class="growflexdiv"><h2>Knight Rank / Oaths</h2></div>
                                            <div class="growflexdiv"><h2>Paladin Powers</h2></div>
                                            <div class="growflexdiv"><h2>Leadership Trees I'm In</h2></div>
                                                @foreach (GameStatisticModel gsm in Model.Leaders)
                                                {
                                                    <p>@gsm.Name</p>
                                                }
                                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addOptionModal">Add</button>
                                            <div class="growflexdiv"><h2>Leadership People In My Tree</h2></div>
                                        </div>
                                        i++;
                                        continue;
                                    }
                                    i++;
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="center">
                <!-- Button (Double) -->
                <div class="form-group">
                    <div class="col-md-2">
                        <button id="button3id" name="button3id" class="btn btn-danger">!!! DELETE CHARACTER !!!</button>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
</div>