@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<LARPWorks.Cyaniel.Web.Features.Users.RegisterViewModel>
@{
    Layout = "_Layout.cshtml";
}

<div class="content-section">
    <div class="center">
        <h1>Register for an Account</h1>
        <br />
        @if (ViewBag.ValidationError != null)
        {
            <div class="alert alert-danger alert-dismissable fade in">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Error!</strong> @ViewBag.ValidationError
            </div>
        }
        <form class="form-horizontal" method="POST">
            <fieldset>

                <!-- Form Name -->
                <legend>Form Name</legend>

                <!-- Text Input -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="username">Username</label>
                    <div class="col-md-4">
                        <input id="username" name="Username" type="text" value="@Model.Username" class="form-control input-md" required=""/>
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="firstname">First Name</label>
                    <div class="col-md-4">
                        <input id="firstname" name="FirstName" type="text" value="@Model.FirstName" class="form-control input-md" required="">

                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="lastname">Last Name</label>
                    <div class="col-md-4">
                        <input id="lastname" name="LastName" type="text" value="@Model.LastName" class="form-control input-md" required="">

                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="email">Email Address</label>
                    <div class="col-md-4">
                        <input id="email" name="Email" type="text" value="@Model.Email" class="form-control input-md" required="">

                    </div>
                </div>

                <!-- Password input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="password">Password</label>
                    <div class="col-md-4">
                        <input id="password" name="Password" type="password" value="@Model.Password" class="form-control input-md" required="">

                    </div>
                </div>

                <!-- Password input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="password2">Re-Enter Password</label>
                    <div class="col-md-4">
                        <input id="password2" name="Password2" type="password" value="@Model.Password2" class="form-control input-md" required="">

                    </div>
                </div>

                <input type="submit" class="submit" />
            </fieldset>
        </form>

        @*<form class="form-horizontal" method="post">
            <fieldset>
                <legend>Please provide your desired credentials</legend>
                <label>User name</label>
                <input type="text" name="username" placeholder="Create your username" />
                <label>Password</label>
                <input type="text" name="password" placeholder="Create your password" />
                <label>Re-enter your password</label>
                <input type="text" name="password2" placeholder="Re-enter your password" />
                <input type="submit" class="submit" />
            </fieldset>
        </form>*@
    </div>
</div>