@using LARPWorks.Cyaniel
@using LARPWorks.Cyaniel.Models
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<LARPWorks.Cyaniel.Features.Buckets.IndexViewModel>
@{
    Layout = "_Layout.cshtml";
}


<div class="content-section">
    <table class="table table-striped table-bordered table-hover">
        <colgroup>
            <col span="1" style="width: 15px;"/>
            <col span="1"/>
            <col span="1"/>
            <col span="1"/>
            <col span="1"/>
            <col span="1"/>
        </colgroup>
        <thead style="background-color: black; color: whitesmoke; font-weight: bold;">
            <tr>
                <td></td>
                <td>ID</td>
                <td>Subject</td>
                <td>Status</td>
                <td>Priority</td>
                <td>Assigned To</td>
            </tr>
        </thead>
        @foreach (string bucket in Model.Buckets)
        {
            <tr class="header" style="background-color:azure">
                <td colspan="6">
                    <span class="glyphicon glyphicon-menu-up" name="expand-icon" aria-hidden="true"></span>
                    @bucket
                    <span style="float: right"><b>@Model.Tickets[bucket].Count</b> Tickets</span>
                </td>
            </tr>
            foreach (BucketTicket ticket in Model.Tickets[bucket])
            {
                <tr class="ticket-row" data-href="/buckets/view/@ticket.Id">
                    @switch ((BucketTicketPriorityEnum)ticket.Priority)
                    {
                        case BucketTicketPriorityEnum.Low:
                            <td style="width: 15px; background-color: dodgerblue"></td>
                            break;
                        case BucketTicketPriorityEnum.Medium:
                            <td style="width: 15px; background-color: yellow"></td>
                            break;
                        case BucketTicketPriorityEnum.High:
                            <td style="width: 15px; background-color: orangered"></td>
                            break;
                        case BucketTicketPriorityEnum.Critical:
                            <td style="width: 15px; background-color: red"></td>
                            break;
                    }
                    
                    <td>@ticket.Id</td>
                    <td>@ticket.Title</td>
                    <td>@((BucketTicketStatusEnum) ticket.Status)</td>
                    <td>@((BucketTicketPriorityEnum) ticket.Priority)</td>
                    <td>@ticket.AssigneeUser</td>
                </tr>
            }
        }
    </table>
</div>

<script>
    $('.header').click(function () {
        var icon = $(this)[0].getElementsByTagName('td')[0].getElementsByTagName('span')[0];
        //console.log(icon);
        if (icon.classList.contains("glyphicon-menu-down")) {
            icon.classList.remove("glyphicon-menu-down");
            icon.classList.add("glyphicon-menu-up");
        } else {
            icon.classList.remove("glyphicon-menu-up");
            icon.classList.add("glyphicon-menu-down");
        }

        $(this).nextUntil('tr.header').toggle();
    });

    $('.ticket-row').click(function() {
        window.location = $(this).data("href");
    });
</script>