@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<LARPWorks.Cyaniel.Features.Characters.CharacterSheetViewModel>

@helper RenderSkillColumn(string skillName, int value, bool isWriteable)
{
    <label class="col-md-2 control-label" for="@skillName">@skillName</label>
    <div class="col-md-2">
        @if (isWriteable)
        {
            <input id="TicketSubject" name="@skillName" type="text" value="0"
                   class="form-control input-md" required="">
        }
        else
        {
            <label class="form-control input-md">0</label>
        }
    </div>
}

@helper Render(bool isWriteable)
{
    <h2>Attributes</h2>
    <p><hr/></p>
    for (int i = 0; i < Model.Attributes.Length; i++)
    {
        var attributeName = Model.Attributes[i];
        <div class="form-group">
            @RenderSkillColumn(attributeName, 0, isWriteable)
        </div>
    }

    <h2>Skills</h2>
    <p><hr/></p>
    for (int i = 0; i < Model.Skills.Length; i++)
    {
        var skillName = Model.Skills[i];
        <!-- Text input-->
        <div class="form-group">
            @RenderSkillColumn(skillName, 0, isWriteable)

            @{
                i++;
                if (i >= Model.Skills.Length)
                {
                    break;
                }
                skillName = Model.Skills[i];
            }

            @RenderSkillColumn(skillName, 0, isWriteable)

            @{
                i++;
                if (i >= Model.Skills.Length)
                {
                    break;
                }
                skillName = Model.Skills[i];
            }

            @RenderSkillColumn(skillName, 0, isWriteable)
        </div>
    }
}

<div class="content-section">
    <form class="form-horizontal">
        @Render(false)   
    </form>
</div>
